<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Corea del Sur</title>
</head>

<body>
    <h1>Cultura de Corea del Sur</h1>
    <p>La cultura contemporánea de Corea del Sur deriva de la cultura tradicional de Corea, pero desde la separación de ambas Coreas en 1948 se ha desarrollado de manera separada a la cultura de Corea del Norte.</p>
    <p>La industrialización y urbanización de Corea del Sur ha traído muchos cambios al modo de vida de los coreanos. En el pasado la mayor parte de la población coreana vivía en pequeñas áreas rurales; sin embargo los cambios en el modo de vida del país llevaron a la población joven a buscar mejores oportunidades en las áreas urbanas (principalmente en la capital Seúl, donde habita cerca de un 25% de la población total del país). En décadas pasadas era común encontrar varias generaciones familiares viviendo bajo el mismo techo, pero hoy en día la sociedad coreana se basa en una familia nuclear.</p>
    <a href="https://es.wikipedia.org/wiki/Cultura_de_Corea_del_Sur">Go to Cultura de Corea del Sur</a>

    <h2>Costumbres</h2>
    <h3>El sentido de la jerarquía</h3>
    <p>Aunque la estructura social confuciana está cambiando, todavía prevalece en Corea. La edad y la antigüedad son de suma importancia y se espera que los más jóvenes sigan los deseos de los mayores sin rechistar. Por lo tanto, la gente le pregunta a menudo su edad y, a veces, su estado civil (no importa cuán viejo sea, por lo menos entre los miembros de la familia no puede ser considerado como adulto si no está casado), para averiguar su posición con respectoa a usted. Estas preguntas no significan inmiscuirse en su privacidad y los coreanos no se ofenderán si no contesta.</p>

    <h3>Gimjang</h3>
    <p>El gimjang se refiere a la práctica coreana ancestral de preparar el kimchi de invierno. Puesto que crecen muy pocos vegetales en los meses invernales, el gimjang tiene lugar a principios de la estación y proporciona lo que se ha convertido en un alimento básico para los coreanos. Una mesa sin kimchi es impensable.</p>

    <h3>Jerye(rito ancestral)</h3>
    <p>Según una creencia tradicional coreana, cuando las personas fallecen sus espíritus no parten inmediatamente; permanecen con sus descendientes durante cuatro generaciones. Durante este periodo, los difuntos son considerados todavía como miembros de la familia.
        Los coreanos reafirman la relación entre antepasados y descendientes a través del jerye, en días especiales como el Seollal (Día del Año Nuevo Lunar) y el Chuseok (Día de Acción de Gracias), así como en el aniversario del fallecimiento de sus antepasados. Los coreanos también creen que pueden vivir mejor y felizmente debido a la protección de sus antepasados.</p>
    <a href="https://www.kublaitours.com/es/102157/Guia/Corea-Sur/Costumbres.htm">Go to Costumbres coreanas</a>

    <h2>Curiosidades</h2>
    <p>1. La bandera coreana tiene un significado bien bonito: sobre el fondo blanco que representa la paz se estampa un circulo que hace referencia al yin y al yang. El yin (azul) equivale al frío y a la oscuridad, mientras que el yang (rojo) es símbolo de calor y luz. Alrededor del yin-yang hay 4 taeguks, uno por cada 4 elemento: agua, aire, tierra y fuego.</p>
    <p>2. En Corea del Sur seremos de repente un año más viejos. Y es que para ellos, los bebés cuando nacen ya cuentan 1 año, así que cuando te pregunten “¿cuántos años tienes?” tendrás que sumar un año a tu edad real.</p>
    <p>3. La palabra “Corea” significa “tierra de las altas montañas y de los ríos cristalinos”.</p>
    <a href="https://www.mochileandoporelmundo.com/30-curiosidades-de-corea-del-sur-y-los-coreanos/">Go to Curiosidades sobre Corea del Sur</a>

</body>

</html>